*.class
*.dex
*.ap_
*.cdi_javac
.data/
*.url
*.jar
*.cache
*.log
*.log.csv
*.csv
*.ods
*.iml
gen/
classes/
/classes/*.properties
classes/*
doc/
node_modules/
.gradle*/
build/
gen/*
.idea/
**/*.o
*.so
gradle-app.setting
*.zip
SerialRxTx/libs
